<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256634477922-87ad40m8gu075fer7tk6lv2k56cv6f9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256634477922-87ad40m8gu075fer7tk6lv2k56cv6f9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDT7dT5YJzE4mfTsLYjEounFTpB8R-SUHs</string>
	<key>GCM_SENDER_ID</key>
	<string>256634477922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onschedule</string>
	<key>PROJECT_ID</key>
	<string>onschedule-735e7</string>
	<key>STORAGE_BUCKET</key>
	<string>onschedule-735e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256634477922:ios:32e5ad8929041df2a9203b</string>
</dict>
</plist>